h3{
  text-align: center;
}
.CardsAluno{
  border: solid 2px black;
  width: 250px;
  height: 350px;
  padding: 5px;
  margin: 5px 0px;
   overflow-wrap: break-word;/* quebra palavras longas */
     word-wrap: break-word /*quebra as palavras longas e joga para baixo*/
  
}
img{
  width: 100%;
  height: 60%;
  border-radius: 50%;
}