<header>
  <h1>Sistema Alunos Proway</h1>
</header>
<div class="botoes">
  <div>

    <button (click)="alterarExibicao()">
      Mostar {{exibicao == 'cards' || aprovados =="cards aprovados" ? 'Lista':'cards'}}
    </button>
  </div>
  <div>
    <strong>
      Filtrar Alunos:
    </strong>
    
    <button (click)="filtrarAlunos('aprovados')">Exibir aprovados</button>
    <button (click)="filtrarAlunos('reprovados')">Exibir reprovados </button>
    <button (click)="filtrarAlunos('todos')">Exibir todos</button>
    
  </div>
  </div>

<main>

  <!-- Exibindo cards e lista de todos no sistema -->

  <!--Cards -->
  <section class="cards" *ngIf="exibicao == 'cards'">
    <app-aluno *ngFor="let alunoContador of listaCadastrados" [aluno]="alunoContador"></app-aluno>
  </section>

  <!--lista-->
  <section class="tabela" *ngIf="exibicao == 'lista'">
    <app-lista-aluno [lista]="listaCadastrados"></app-lista-aluno>
  </section>
  
  
  
</main>

  <footer>
    <h2>Desenvolvido por João Vitor Spezia</h2>
  </footer>
