
header{
  background-color: rgb(4, 0, 63);
  text-align: center;
  color: white;
}


footer{
  background-color: rgb(4, 0, 63);
  text-align: center;
  color: white;
   
}
.cards{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}
.tabela{
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
main{
  align-items: center;
  flex-direction: column;
  padding: 20px;
  display: flex;
}

.botoes div{
  margin: 30px;
  display: flex;
  justify-content: end;

}
.botoes button{
background-color: rgb(0, 0, 84);
color: aliceblue;
padding: 15px;
border-radius: 4px;
border: none;
cursor: pointer;
}
.botoes button:hover{
  background-color: blueviolet;
}