
header,footer{
  background-color: rgb(4, 0, 63);
  text-align: center;
  color: white;
}
.cards{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}
.tabela{
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
main{
  align-items: center;
  flex-direction: column;
  padding: 20px;
  display: flex;
}
